@font-face {font-family: Circular Air;  src: url(fonts/Circular Air-Light);  font-weight: 300;}
@font-face {font-family: Circular Air;  src: url(fonts/Circular Air-Book);  font-weight: 500;}
@font-face {font-family: Circular Air;  src: url(fonts/Circular Air-Bold);  font-weight: 700;}
@font-face {font-family: Founders Grotesk;  src: url(fonts/FoundersGrotesk-Bold.otf);  font-weight: 700;}
@font-face {font-family: Founders Grotesk;  src: url(fonts/FoundersGrotesk-Semibold.otf);  font-weight: 600;}
@font-face {font-family: Founders Grotesk;  src: url(fonts/FoundersGrotesk-Regular.otf);  font-weight: 500;}
@font-face {font-family: IBM Plex Serif;  src: url(fonts/IBMPlexSerif-Light.otf);  font-weight: 100;}


/*$green: #3BC8AA;
$orange: #FF551A;
$black: #1E1E1E;
$darkGray: #555659;
$darkerGray: #322B1D;
$lightGray: #DEE0DC;
$white: #fff;
$purple: #734A9D;
$navy: #2E2D77;
$green: #ABCE9D;
$cream: #F2EEDC

$titleFont: "Founders Grotesk";
$bodyFont: "Circular Air";
*/


body {
	color: #1E1E1E;
	font-family: Circular Air, sans-serif;
	margin: 0;
	line-height: 1.5;
}

section {
	margin: 0;
}

a {
	font-family: Founders Grotesk, sans-serif;
	text-decoration: none;
	font-weight: 600;
}

h1 a {
	border: 0px;
}

h1 {
font-family: Circular Air, sans-serif;
font-weight: 100;
}

h2 {
	font-family: Circular Air, sans-serif;
	font-weight: 100;
}

.top-bar {
	background-color: #DEE0DC;
	color: #555659;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height:50px;
} 

.top-bar p {
	margin-left: 100px;
	font-size: 14px;
}

.search {
	background: #DEE0DC;
	width: 35%;
	display: flex;
	margin: 0;
}

.search input {
	margin: 0;
	height: 50px;
	padding: 0;
	border: 0;
	width: 100%;
	background-color: #555659;
	color: #fff;
	padding: 15px;
	font-size: 16px;
	font-family: Circular Air, sans-serif;
	font-weight: 300;
}

input::placeholder {
  color: #bbb;
}

.search img {
	padding: 15px;
}

header {
	width: 100%;
	padding: 15px;
	padding-left: 100px;
	padding-right: 100px;
	display: flex;
	justify-content: space-between;

}

header h1 {
	margin: 0;
	padding: 0;
	line-height: 0;
	font-size: 0;
}

header nav {
	display: flex;
	justify-content: center;
    position: relative;
    margin-left: 200px;
    align-items: center;
    margin-right: 50px;
}

header nav a {
	margin-right: 25px;
	color: #2E2D77;
	text-decoration: none;
	padding-bottom: 0px;
	font-family: Founders Grotesk, sans-serif;
	font-weight: 600;

}

nav.about a.about-nav{
	border-bottom: 2px solid #734A9D;;
}

nav.visit a.visit-nav{
	border-bottom: 2px solid #000;
}

nav.events a.events-nav{
	border-bottom: 2px solid #fff;
}

nav.shop a.shop-nav{
	border-bottom: 2px solid #2E2D77;
}

main {
  min-height: calc(100vh - 150px);
}

#menu-toggle {
	width: 100px;
	height: 100px;
	position: fixed;
	z-index: 99;
	top: 15px;
	right: 100px;
	display: none;
}

.menu nav {
	display: none;
}

.section-header {
	font-size: 24px;
	color: #734A9D;
	text-transform: uppercase;
	font-family: Founders Grotesk, sans-serif;
	font-weight: 900;
	letter-spacing: 3px;
}

button {
	border: 0px;
	background-color: #734A9D;
	padding: 25px;
	padding-top: 30px;
	color: #fff;
	border-radius: 0;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: Founders Grotesk, sans-serif;
	font-weight: 900;
	position: absolute;
	margin: 0;
}

.drop {
	background-image: url(drop-red.svg);
	background-size: contain;
	background-repeat: no-repeat;
	height: 500px;
	position: absolute;
	padding-left: 130px;
	padding-top: 75px;
	color: #fff;
	top: 250px;
}

/* -------------------------HERO SECTION------------------------------ */


.hero {
	width: 100%;
	background: #ccc;
	margin-bottom: 120px;
	position: relative;
	height: 500px;
	background-image: url(chihuly-night.jpg);
	background-size: cover;
	background-repeat: repeat-x;
}

.drop {
	background-size: contain;
	background-repeat: no-repeat;
	height: 500px;
	position: absolute;
	padding-left: 130px;
	padding-top: 75px;
	color: #fff;
	top: 250px;
}

.slider-toggle {
	background-color: #734A9D;
	width: 60%;
	height: 250px;
	bottom: -75px;
	position: absolute;
	display: flex;
	justify-content: flex-end;
	color: #fff;
}

.controls {
	display: flex;
	width: 30%;
	justify-content: space-around;
	padding: 10px;
	align-items: center;
	height: 100px;
}

.sequence {
	margin-right: 15px;
}

#left-arrow, #right-arrow {
	width: 50px;
	height: 50px;
	position: relative;
}

#left-arrow img, #right-arrow img {
	width: 50px;
	height: 50px;
	position: relative;
}

.drop p {
	width: 25%;
}

.hero img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.hero .overlay {
	position: absolute;
}
.hero a {
	color: #fff;
}

.hero h2 {
	width: 800px;
	color: #fff;
	font-size: 24px;
}

.hero h1 {
	font-family: Founders Grotesk, sans-serif;
	font-size: 48px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 10px;
}

/* -------------------------ABOUT SECTION------------------------------ */

section.about {
	margin-top: 550px;
	margin-bottom: 50px;
	background-image: url(about-bg.jpg);
	background-repeat: no-repeat;
	background-position: 20% 0;
}

.about .section-header {
	margin-left: 60vw;
	margin-bottom: 40px;

}

.about .description {
	background-color: #F2EEDC;
	padding: 70px;
	width: 50%;
	margin-left: 30vw;
	position: relative;
}

.about .description p {
	margin-right: 10vw;
}

.about button {
	bottom: 80px;
	right: 0;
	transform: translateX(50%);
}


/* -------------------------ABOUT LIGHTBOX------------------------------ */

#about-overlay {
	background-color: #F2EEDC;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 999;
	padding: 100px;
	display: none;
}

#close-toggle {
position: fixed;
right: 100px;
top: 100px;
}

#about-overlay.display {
display: block;
}

/* -------------------------VISIT SECTION ------------------------------ */

section.visit {
		margin-top:250px;
		padding-left: 150px;
	}

	.visit .section-header {
	margin-bottom: 40px;
}

.visit .description {
		background-color: #76C8AD;
		padding: 50px;
		position: relative;
	}


	.visit {
		background-repeat: no-repeat;
	}

	.visit-1 .description {
		max-width: 35vw;
	}

	.visit-1 {
		background-image: url(visit-1.jpg);
		background-size: 300px;
		background-position: 50% 0%;
	}

	.visit-2 .description {
		max-width: 50vw;
		margin-left: 30vw;
	}

	.visit-2 {
		background-image: url(visit-2.jpg);
		background-size: 300px;
		background-position: 40% 100%;
		padding-bottom: 50px;

	}

	.visit-3 .description {
		max-width: 40vw;
	}

	.visit-3 {
		background-image: url(visit-3.jpg);
		background-size: 300px;
		background-position: 0% 100%;
		padding-bottom: 50px;
	}

	.visit-4 .description {
		max-width: 30vw;
		margin-left: 30vw;
	}

	.visit-4 {
		position: relative;
	}

	.visit-4 img {
		position: absolute;
		right: 24vw;
		top: -250px;
		width: 200px;
	}


	.line {
		width: 100%;
		height: 1px;
		background-color: #000;
		margin-bottom: 25px;
	}

	.subtitle {
	font-family: Founders Grotesk, sans-serif;
	font-size:24px;
	color: #000;
	font-weight: 900;
	}

	.event-title h2 {
		font-size: 36px;
		line-height: 1.2;
		margin-right: 10vw;
	}

	.event-title h3 {
		margin-right: 16vw;
	}

	.visit button {
	bottom: 100px;
	right: 0;
	transform: translateX(50%);
}



/* EVENTS ------------------------------ */

.events-section {
	padding: 100px;
	margin-top: 250px;
}

.events-section .section-header {
	margin-bottom: 50px;
}

.events-container {
	display: flex;
	justify-content: space-between;
}

.event-single {
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #734A9D;
	width: 500px;
	height: 450px;
	padding: 50px;
	color: #fff;
}

.event-single h1 {
	font-family: Founders Grotesk, sans-serif;
	font-size:32px;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 600;
	line-height: 1;
}

.event-single.herbarium {
	background-image: url(herbarium-event.jpg);
	background-position: bottom center;
}

.inactive {
	transform: scale(.75);
	opacity: .3;
}






/* PRODUCT REVIEWS ------------------------------ */


.product-reviews {
	margin-top: 250px;
	position: relative;
	background-color: #F2EEDC;
	height: 525px;
	padding: 100px;
	padding-top: 70px;
}

.product-reviews .drop {
	background-image: url(review-drop.svg);
	right: 0;
	top: 0;
	background-position: 100% 100%;
	background-size: contain;
	color: #000;
	width: 60vw;
	height: 60vh;
}

.product-reviews h2 {
	font-weight: 300;
	font-size: 36px;
}

.product-reviews .drop p {
	font-weight: 300;
	font-size: 18px;
	width: 60%;
	margin-bottom: 50px;
}

.product-reviews .avatar {
	margin-top: 50px;
}

.product-reviews .user {
	font-family: Founders Grotesk, sans-serif;
	font-size: 24px;
	font-weight: 600;
}

.product-reviews .location {
	font-family: Founders Grotesk, sans-serif;
	font-size: 18px;
}

.product-reviews button {
	bottom: 0;
	left: 42%;
	transform: translateX(50%) translateY(50%);
}


/* LOCATION & HOURS ------------------------------ */

.location-section {
	padding: 100px;
	margin-top: 250px;
	width: 100%;
	position: relative;
	height: 1000px;
}

.location-section .section-header {
	margin-bottom: 35px;
}

.location-section .hours {
	background-color: #734A9D;
	width: 70%;
	padding: 50px;
	color: #fff;
}

.location-section .map img {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50vw;
}

/* FOOTER ------------------------------ */

footer {
	background: #322B1D;
	height: 400px;
	width: 100%;
}

/* BREAKPOINT 1150px ------------------------------ */

@media (max-width: 1150px) {

.slider-toggle {
	width: 85%;
}

.visit-1 .description {
		max-width: 45vw;
	}

	 	.visit-2 .description {
		max-width: 50vw;
		margin-left: 20vw;
	}

		.visit-4 .description {
		max-width: 40vw;
		margin-left: 20vw;
	}

	.visit-4 img {
		right: 15vw;
		top: -250px;
		width: 200px;
	}

	.events-container div:nth-child(4) {
		display: none;
	}

	.product-reviews {
	padding: 100px;
	padding-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
}

.product-reviews .drop {
	position: relative;
	width: 90vw;
	height: 60vh;
}

.product-reviews .avatar img {
	width: 20vw;
}

}

/* BREAKPOINT 900px ------------------------------ */

@media (max-width: 900px) {

	#menu-toggle {
	display: block;
}

.menu nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	transform: translateX(-100%);
}

.open {
	transform: translateX(0);
}

header nav {
	display: none;
}

	.about .description {
    width: 70%;
    margin-left: 100px;
}

.menu nav {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	background-color: #fff;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	padding: 100px;
}

section.about {
	margin-top: 550px;
	margin-bottom: 50px;
	background-position: 0 0;
}

.about .section-header {
	margin-left: 50vw;

}

.visit-1 {
	background-position: 80% 0%;
}

.visit-1 .description {
    max-width: 60vw;
}

.visit-2 {
		background-position: 0% 100%;
		padding-bottom: 50px;

	}

.visit-2 .description {
    max-width: 60vw;
    margin-left: 0;
}

	.visit-3 .description {
		max-width: 60vw;
	}

			.visit-4 .description {
		max-width: 60vw;
		margin-left: 0;
	}

	.visit-4 img {
		right: 15vw;
		top: -200px;
		width: 150px;
	}

	.location-section .hours {
    width: 60%;
    padding: 50px;
}

	.location-section .map img {
    width: 60vw;
}

}

/* BREAKPOINT 650px ------------------------------ */


