header {
	width: 100%;
	background-color: #667;
	color: #fff;
}

ul {
	display: flex;
	justify-content: space-between;
	margin: 0;
}

ul li {
	width: 33%;
	text-align: center;
	font-size: 24px;
	transition: background 250ms;
	list-style: none;
	padding: 15px;
}

ul li a {
	padding: 10px;
	color: #fff;
	text-decoration: none;
	width: 100%;
	height: 100%
	display: block;
}

ul li:hover {
	background: #999;
}

ul.home li.home-nav{
	border-bottom: 2px solid #ff0000;
}

ul.about li.about-nav{
	border-bottom: 2px solid #ff0000;
}

ul.blog li.blog-nav{
	border-bottom: 2px solid #ff0000;
}

footer {
	background: #000;
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
}