#main {    
	margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #8AA1BF;
    overflow-x: hidden;;
    display: flex;
    justify-content: center;
}

li {
opacity: 0;
transform: translate(0, 75px);
transition: all 2s;
margin-top: 200px;
box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);
transition: box-shadow 0.25s;
background: #355176;
width: 75%;
padding: 50px;
list-style: none;
}

li.visible {
opacity: 1;
transform: translate(0, 0);
transition: all 2s;
}

li:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  padding-left: 20px;
  box-shadow: 0px 2px 7px rgba(75, 75, 75, 0.7);

}

header img {
  width: 200px;
}

h2 {
  color: #FFF;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 42px;
}

 .pub-date {
  font-weight: 100;
  font-size: 18px;
  max-width: 700px;
  color: #CAD8EA;
}

.author {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.22px;
  color: #F0F3F7;
}

p {
  font-family: 'Libre Franklin', sans-serif;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 1px;
  max-width: 50%;
  margin-top: 50px;
}