body {
	background: #333;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
}

a {
	color: #ddd;
	text-decoration: none;
	font-weight: 700;

}

thead {
	padding: 25px;
}

table {
	width: 100%;
	border-collapse:collapse
}

table li {
	list-style: none;
}

thead {
	color: #ddd;
	height: 50px;
}

tr {
	border-top: 1pt solid #fff;
}

#loader img {
	width: 75px;
	padding: 200px;
}